/* 
Theme name: natsu
Author:inafuri
Description:portfolio
Version:1.0

*/

/* 全体 */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  background-color: #eeffff;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #333;
}
.clearfix:after {
    display: block;
    content:"";
    clear: both;
}
img {
  vertical-align: bottom;
  margin: 0;
  max-width: 100%;
  height: auto;
}
h2 {
    font-size: 32px;
}
a {
    text-decoration:none;
    color:#333;
}
p {
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
}
a:hover {
    opacity: 0.8;
}
